.custom-button {
    background-color: #18611a; /* Color de fondo verde */
    color: white; /* Color del texto */
    font-size: 15px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    border: none; /* Sin bordes */
    border-radius: 20px; /* Bordes redondeados */
    padding: 5px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: inline-flex; /* Para alinear el ícono y el texto */
    align-items: center; /* Alinea verticalmente el contenido */
    gap: 10px; /* Espaciado entre el ícono y el texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s, box-shadow 0.2s; /* Animación suave */
  }
  
  .custom-button:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Agranda ligeramente el botón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Más sombra */
  }
  
  .custom-button:active {
    transform: scale(0.95); /* Efecto de presión */
  }
  